<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{{url_for('static', filename='stylesheets/style.css')}}" rel="stylesheet" type="text/css" />
<title>{{ title }}</title>
{% block header %}
{% endblock %}
</head>
<body>
	<div class="main">
		<div class="header">
			<div class="block_header">
				<div class="logo">
					<h1>
						<a href="/">Авторская галерея</a>
					</h1>
				</div>
				<div class="menu">
					<ul>
						<li><a href="/">Домой</a></li>
						<li><a href="/about.html">О сайте</a></li>
						<li><a href="/contact.html">Контакты</a></li>
						<li><a href="/guestbook.html">Гостевая книга</a></li>
						<li><a href="{{ url_for('create') }}" {% if request.path == '/images/edit.html' %} class="active" {% endif %} >Добавить рисунок</a></li>
						<li><a href="/rss.xml">RSS</a></li>
					</ul>
				</div>
				<div class="clr"></div>
			</div>
		</div>
		<div class="clr"></div>
		<div class="body">
			<div class="body_resize">
				{% block content %}
				{% endblock  %}
			</div>
			<div class="clr"></div>
		</div>
	</div>
	<div class="footer">
		<div class="footer_resize">
			<ul>
				<li><a href="index.html">home</a></li>
				<li><a href="services.html">services</a></li>
				<li><a href="portfolio.html">portfolio</a></li>
				<li><a href="services.html">about</a></li>
				<li><a href="contact.html">contact</a></li>
				<li><a href="portfolio.html">rss feed</a></li>
			</ul>
			<p>
				Copyright © Sitename.com. <a href="http://dreamtemplate.com/">dreamtemplate.com</a>.
				All Rights Reserved
			</p>
			<div class="clr"></div>
		</div>
	</div>
</body>
</html>