{% extends 'base.html' %} 
{% import 'summary.html' as forms %}
{% block content %}
<div class="right">
	<h2>{{title}}</h2>
	{{ forms.summary(form) }}
	<form action="{{ url_for('create') }}" enctype="multipart/form-data" method="post">
		<ol>
			<li>{{ form.title.label }} {{ form.title }}</li>
			<li>{{ form.sub_title.label }} {{ form.sub_title }}</li>
			<li>{{ form.description.label }} {{ form.description }}</li>
			<li>{{ form.image.label }} {{ form.image }}</li>
			<li>{{ form.status.label }} {{ form.status }}</li>
			<li><input type='submit' value='Сохранить' /></li>
		</ol>
	</form>
</div>
{% endblock %}
