{% extends "base.html" %} {% block content %}
<div class="left">
	<img src="{{ url_for('thumb', id=picture.key(), width=310, height=0, ext=picture.ext) }}" />
</div>
<div class="right">
	<h2>{{ picture.title }}</h2>
	<p>
		<span></span>
	</p>

	<p>{{ picture.description }}</p>
	<ul>
		<li><strong>Добавлено:</strong> {{
			picture.created_at.strftime("%d-%m-%y") }}</li>
		<li><strong>Размер:</strong> 45 / 60 cm</li>
		<li><strong>Состояние:</strong> Продано</li>
		<li><strong>Материал:</strong> масло / полотно</li>
		<li><strong>Разделы</strong>: <a href="#">Живопись</a>, <a
			href="#">Пейзаж</a>, <a href="#">Реализм</a></li>
		<ul>
</div>
{% endblock %}
