@charset "utf-8";
body { margin:0; padding:0; width:100%;}
html { padding:0; margin:0;}
ul{border:0; margin:0; padding:0;}
ul li{border:0; margin:0; padding:0;}

/* main */
.main {width:100%; padding:0; margin:0 auto; background:#000;}
.resize { width:985px; margin:0 auto;}

/********** header **********/
.header { background:url(images/header_bg.gif) top repeat-x; padding:0; margin:0 auto; }

.block_header {margin:0 auto; width:982px; padding:0; border-bottom:1px solid #3b3b3b;}
/* logo */
.logo { float:left; padding:0; margin:0; width:306px;}
.logo h1 a { color: #E8E8E8; text-decoration: none;  }
/* menu */	
.menu { float:right; padding:30px 0 0 0; margin:0; width:580px;}
.menu ul {  padding:0; margin:0; list-style:none; border:0;}
.menu ul li { float:left; margin:0; padding:1px 1px 0 0; border:0;}
.menu ul li a { float:left; margin:0; padding:15px 10px; color:#909090; font:bold 12px Arial, Helvetica, sans-serif; text-decoration:none;}
.menu ul li a:hover { color:#fff;}
.menu ul li a.active {color:#fff;}
/*top_sup*/
.top_sup { padding:0; margin:0; background:#000;}
.top_sup_resize { width:982px; margin:0 auto; padding:0;}
.top_sup_resize p { font:normal 11px Arial, Helvetica, sans-serif; color:#4d4d4d; padding:5px; margin:0; line-height:1.8em;}
.top_sup_resize span { font: normal 12px Arial, Helvetica, sans-serif; color:#9f9f9f;}
.top_sup_resize2 { width:982px; margin:0 auto; padding:20px 0;}
.top_sup_resize2 h2 { font: normal 32px Arial, Helvetica, sans-serif; color:#fff; padding:0 0 0 20px; margin:0; width:200px; float:left;}
.top_sup_resize2 p { width:540px; float:right; text-align:left; font:normal 11px Arial, Helvetica, sans-serif; color:#4d4d4d; padding:5px; margin:0; line-height:1.8em;}
/* search */
.search { padding:10px 0 0 0; margin:0; float:right; width:180px;}
.search form { display:block; float:right; padding:5px 0;}
.search span { display:block; float:left; background: url(images/search_bg.gif) left top no-repeat; width:114px; padding:0 5px; height:34px;}
.search form .keywords { line-height:14px; float:left; border:0; width:114px; padding:5px 0; height:14px; background:none; margin:0; font:normal 14px Arial, Helvetica, sans-serif; color:#9c9c9c;}
.search form .button { float:left; margin:0; padding:0;}
/********** slider **********/
.slider_top {background:#000; margin:0 auto; padding:15px 0 0 0; height:300px;}
/*header_text*/
.header_text { margin:0 auto; padding:0; width:982px;}
/********** block index **********/
.body { background: #f1f1f1;}
.body_resize { width:982px; margin:0 auto; padding:0;}
.body h2 { font:normal 30px Arial, Helvetica, sans-serif; color:#2a2a2a; padding:15px 5px; margin:0; border-bottom:1px solid #e1e1e1;}
.body p { font:normal 12px Arial, Helvetica, sans-serif; color:#5f5f5f; padding:10px 5px; margin:0; line-height:1.8em;}
.body p span { color:#a4a4a4; font: normal 11px Arial, Helvetica, sans-serif;}
.body p.bodrded { border:1px solid #ebebeb; margin:5px 0; padding:10px 0;}
.body ul { list-style:none; margin:10px auto; padding:0;}
.body li { padding:5px 5px; margin:0; background:url(images/ul_li.gif) left no-repeat; font: normal 12px Arial, Helvetica, sans-serif; color:#5c5c5c;}
.body a { color:#1286a2; text-decoration:underline;}
.body a.bold { color:#fff; font:bold 11px Arial, Helvetica, sans-serif; background:#000; margin:0; padding:3px 5px; float:left; text-decoration:none;}
.body a.image-link { width: 208px; display: inline-block; margin: 15px 15px 15px 0; text-align: center;}
.body img { margin:0 auto; padding: 5px; border: solid 1px #DDDDDD;}
.body img.port { float:left; margin:10px 15px; padding:0;}
.full  { width:952px; float:left; margin:0; padding:10px 15px;} 
.left  { width:310px; float:left; margin:0; padding:10px 15px;} 
.right  { width:600px; float:right; margin:0; padding:10px 10px 10px 15px;} 
.blog { width:270px; margin:10px auto; padding:10px 10px; border:8px solid #eaeaea; background:#f7f7f7;} 

/********** contact form **********/
form { margin:0; padding:5px 10px;}
form ol { margin:0; padding:0; list-style:none;}
form li { margin:0; padding:0; background:none; border:none; display:block; clear:both;}
form li.buttons { margin:5px 0 5px 0;}
form label { margin:0; width:110px; display:block; padding:10px 0; color:#5f5f5f; font: bold 12px Arial, Helvetica, sans-serif; text-transform:capitalize; float:left;}
form label span { color:#F00;}
form input[type=text] { width:440px; border:1px solid #dcdcdc; margin:10px 0; padding:5px 2px; height:16px; background:#fff; float:left;}
form textarea { width:440px; height:440px; border:1px solid #dcdcdc; margin:10px 0; padding:2px; background:#fff; float:left;}
form li.buttons input { padding:3px 0 3px 110px; margin:0; border:0; color:#FFF; float:left;}
p.response { text-align:center; color:#F00; font: normal 11px  Georgia, "Times New Roman", Times, serif; line-height:1.8em; width:auto;}
/********** footer **********/
.footer { margin:0; padding:10px 0 0 0; background:#e8e8e8; border-top:1px solid #d9d9d9; }
.footer_resize { margin:0 auto; padding:10px 0; width:980px;}
.footer ul { margin:0; padding:20px 10px 10px 10px; list-style:none; float:left;}
.footer img { display:inline; margin:5px 10px; padding:0;}
.footer ul li { margin:0; padding:0 10px; float:left;}
.footer p { margin:0; padding:20px 20px 10px 20px; float:right; color:#6d6d6d; font:normal 12px Arial, Helvetica, sans-serif; line-height:1.8em;}
.footer a { color:#6d6d6d; font:bold 12px  Arial, Helvetica, sans-serif; text-decoration:none; line-height:1.8em;}
.footer a:hover { text-decoration:underline;}

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
li.bg, .bg { clear:both; border-top:1px solid #e2e2e2; padding:0; margin:10px 0; background:none; line-height:0;}

/* pagination */
#pagination-clean li{
border:0; margin:0; padding:0;
margin-bottom: 10px;
font-size:11px;
list-style:none;
}
#pagination-clean li, #pagination-clean a{
margin-right:2px;
display: inline;
}
#pagination-clean .previous-off,
#pagination-clean .next-off {
color:#888888;
display:block;
float:left;
font-weight:bold;
padding:4px 4px;
}
#pagination-clean .next a,
#pagination-clean .previous a {
font-weight:bold;
} 
#pagination-clean .active{
color:#00000;
font-weight:bold;
display:block;
float:left;
padding:4px 6px;
}
#pagination-clean a:link,
#pagination-clean a:visited {
color:#288D9B;
display:block;
float:left;
padding:4px 6px;
text-decoration:none;
}
#pagination-clean a:hover{
text-decoration:none;
}

/* boxes */
.box { -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow: 0 0 6px #978f6c; -webkit-box-shadow: 0 0 6px #978f6c;}
.box-head { -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; }
.box { background:#fbfcfc; height:100%; padding:1px; margin-bottom:20px; }
.box-head { background:#E8E8E8; height:32px; color:#288D9B; padding: 0 10px; line-height:32px; white-space:nowrap; border-bottom:solid 1px #fff; }

/*********************
		Tables
*********************/
table th{ background:#E8E8E8 repeat-x 0 0; color:#288D9B; text-align: left; padding:7px 10px; border-bottom:solid 1px #d2d1cb;}
table td{ background:#fbfcfc;  border-bottom:solid 1px #e0e0e0; padding:8px 10px; }
table tr.odd td{ background:#f8f8f8; }
table tr:hover td{ background:#fff9e1; }


/* -- Form message -- */
.form-message          { display: block; padding: 10px 20px 10px 35px; margin-bottom: 20px; border: 1px solid; -webkit-border-radius: 6px; border-radius: 6px; -moz-border-radius: 6px; }
.form-message.correct  { border-color: #a8f383; background: #e4ffd4 url(../images/correct.gif) 10px 11px no-repeat; }
.form-message.error    { border-color: #f3a48c; background: #ffded4 url(../images/error.gif) 10px 11px no-repeat; }
.form-message.warning  { border-color: #fbea81; background: #fff9d4 url(../images/warning.gif) 10px 11px no-repeat; }

.form-message p        { margin: 0 !important; padding: 0 !important; }
.form-message ul       { margin: 5px 0 0 20px; padding: 0; }
.form-message ul li    { margin: 0; padding: 0; list-style: disc; font-size: 1em !impotant; line-height: 1.6em; }